/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body{
  font-family: "Open Sans", sans-serif;
} */
.menuBar {
    width: 100%;
    padding: 4px;
    /* filter: blur(1.5rem); */
    background-color:#c5f80c2c;
    
  }

.menuBar .categoryMenu{
  cursor: pointer;
  display: flex;
  padding: 10px;
  padding-left: 24vw;
  padding-right: 25vw;
  justify-content: space-between;
  overflow: auto;
  
}


.menuBar .categoryMenu span {
  font-weight: 450;
  padding:10px 20px 10px 20px;
  /* background-color:#dbdbdb60; */
  color: #424242;
  border-radius:8px;
  filter: none;
  text-align: center;
}


.menuBar .categoryMenu span:hover{
  background-color:#d3dbffc7;
  color: rgb(0, 0, 0);
  filter: blur(0);
}

@media only screen and (max-width: 1210px) {
  .menuBar .categoryMenu{
    padding-left: 0;
    padding-right: 0;
  }
  .menuBar .categoryMenu span {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {

  .menuBar .categoryMenu span {
    font-weight: 450;
    align-items: center;
    font-size: small;
    padding:10px 8px 10px 15px;
    
  }
  .menuBar .categoryMenu .name{
    padding:0px;
    padding-right: 0em;
    margin-top: -8px;
    margin-bottom: -3px;
    
    
    
  }


}
