.footerParentDiv {
    width:100%;
    display:grid;
  }
  .bars{
    background-color:#e4f9df;
    height: .1em;
  }
  .footerParentDiv .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    width:100%;
    background-color:#ffffff44;
    color: rgb(32, 32, 32);
    
    
  }
  
  .footerParentDiv .footer p {
    margin: 2px;
    font-size: 15px;
    font-weight: 400;
   
  }
  @media only screen and (max-width: 700px) {
    .footerParentDiv .footer p {
      margin: 2px;
      font-size: 12px;
     
    }
    .footerParentDiv{
      margin-bottom: 4em;
    }
    .footerParentDiv .footer {
     background-color:#e4f9df;
      color: rgb(58, 58, 58);
      
      
    }
  }