.recomendations {
    margin: 14px 14px 14px ;
    margin-left: 12%;
    
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .heading :first-child {
    font-size: 23px;
    color: #04a6b8;
    font-weight: 500; 
  }
  .recomendations .heading span{
    box-shadow:  0px 0px 3px 3px rgb(0 0 0 / 5%);
    font-size: 22px;
    font-weight: 400; 
  }
  .load-more-button{
    text-align: center;
    margin-top: 1em;
   
    
  }
  .load-more-button button{
    padding: 10px 20px 10px 20px;
    border-radius: 18px;
    background: rgb(255, 255, 255);
    color: #002f34;
    border: 0px solid #002f34;
    font-size: 16px;
    font-weight: 600;
    box-shadow:  0px 0px 3px 3px rgb(0 0 0 / 5%);
    border-radius: 10px;
  }
  .load-more-button button:hover{
    border: 0px solid #002f34;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color:#dbeef0;
    box-shadow:  0px 0px 3px 3px rgb(0 0 0 / 5%);
    border-radius: 16px;
  }
  