.quickOption-bar{
    padding-top: 4em;
  }
  .categories{
    padding-left: 8%;
    margin-bottom: 3em;
  }
  .categories .card .favorite {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .categories .card {
    margin: 16px;
    max-width: 293px;
    width: 232px;
    height: 279px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  .categories .card .image {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .categories .card .image img {
     height: 100px;
   /* max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    text-align: center; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: unset;
    border-radius: 10px;
  }
  .categories .card .content  {
    margin: 10px;
    margin-top: -8.5em;
    
  }
  .categories .card .content .rate {
    background-color: rgba(238, 238, 238, 0.808);
    margin-top: 10px;
    font-size: larger;
    font-weight: 500;
    border-radius: 4px;
  }
  .categories .card .content .pname {
    background-color: rgba(238, 238, 238, 0.808);
    font-size: medium;
    font-weight: 500;
    border-radius: 4px;
    padding: 3px 8px 3px 8px;
  }
  .categories .card .content .categoryname {
    border-radius: 4px;
    background-color: rgba(238, 238, 238, 0.808);
    font-size: small;
    padding: 3px 8px 3px 8px;
  }
  .categories .card .place {
    display: flex;
    justify-content: flex-end;
    font-size: small;
    font-style: oblique;
    margin-bottom: 10px;
  }
  
  .categories .card .place p{
    border-radius: 4px;
    background-color: rgba(238, 238, 238, 0.185);
    padding: 3px 8px 3px 8px;
  }
  .categories .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 0em;
    margin-left: 1em;
  }
  .categories .heading :first-child {
    font-size: 25px;
    color: #002f34;
    font-weight: 480;
  }
  .categories .load-more-button{
    text-align: center;
    margin-top: 1em;
    align-items: center;
    margin-right: 1.2em;
   
    
  }
  .categories .load-more-button button{
    border: 0px solid #002f34;
    padding: 9px 22px 9px 22px;
    border-radius: 10px;
    background-color:#ffffff;
    box-shadow: 0px 0px 0 1px rgba(191, 207, 197, 0.2),0 2px 10px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
  }
  .categories .load-more-button button:hover{
    border: 0px solid #002f34;
    padding: 9px 22px 9px 22px;
    border-radius: 10px;
    background-color:#41fa413b;
    box-shadow: 0px 0px 0 1px rgba(191, 207, 197, 0.2),0 2px 10px 0 rgba(0,0,0,0.19);
    border-radius: 16px;
  }
  @media only screen and (max-width: 700px) {
    .categories {
      padding: 10px 10px 10px 10px ;
      margin-left: 4%;
      
      
    }
    .categories .card {
      padding: 10px;
      max-width: 80%;
      width: 80%;
      display: inline-block;
      cursor: pointer;
      box-shadow: 0px 0px 0 1px rgba(191, 207, 197, 0.2),0 2px 10px 0 rgba(0,0,0,0.19);
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      border: none;
    }

  }