.headerParentDiv {
    padding: .4em;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    box-shadow: 0 8px 17px 0 rgb(0 0 0 / 9%);
    background-color: white;
  }
  
  .headerChildDiv {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brandName{
    cursor: pointer;
  }

  .headerParentDiv .links{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
 
  .productSearch {
    width: 15em;
    height:44px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: transparent;
    outline-color: transparent;
    border:2px solid rgba(116, 173, 93, 0.11);
    padding-bottom: 15px;
  }
  
  .productSearch .input {
    /* width: 15em; */
    margin-top: 3px;
    margin-left: 2px;
    height:30px;
    display: flex;
    background-color:none;
    padding-bottom: 9px;
  }
  
  .productSearch .input input {
    border-color: transparent;
    height:40px;
    background-color: rgba(255, 255, 255, 0.603);
    outline-color: transparent;
    width: 100%;
    align-items: center;
  }
  
  .productSearch .searchAction {
    width: 5em;
    height:44px;
    position: relative;
    display: flex;
    margin-top: 13px;
    cursor: pointer;
    background-color: #58ff0b28;
    border-radius: 0 4px 4px 0;
  }
  
  .productSearch .searchAction svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgba(14, 2, 2, 0.918);
  }
  
  
  .span {
    text-decoration: none;
    font-size: 16px;
    white-space: normal;
    text-overflow: ellipsis;
    margin-right: 5px;
  }
  
  .loginPage{
    position: relative;
    display: inline-block;
    padding-left:7px ;
    cursor: pointer;
  }
  
  .user{
    display: flex;
    align-items: center;
  }
  
  .headerChildDiv .items{
    cursor: pointer;
  }
  .headerChildDiv .items:hover{
    color: rgb(145, 0, 0);
  }
  .login-span:hover{
    color: rgb(167, 0, 0);
  }
  
  .loginPage a{
    text-decoration: none;
  }
  .usimages img{
    height:2em;
    width:2em;
    align-items: center;
    border-radius: 100%;
   
  }
  .sellMenu {
    position: relative;
    cursor: pointer;
    /* box-shadow: 0px 0px 0px 3px rgba(238, 238, 238, 0.2),0px 0px 4px 0px rgba(0,0,0,0.19); */
    padding:0px;
    border-radius:38px; 
    background: rgba(180, 238, 166, 0.363);
     
  }
  
  .sellMenu .sellMenuContent {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: hsl(0, 0%, 0%);
    border-style: none;
    
  }
  
   .sellMenu .sellMenuContent svg {
    align-items: center;
    
  } 
  .sellMenu .sellMenuContent span {
    margin-top: -2px;
    
    
  }
  
  @media only screen and (max-width: 1220px) {
    .headerChildDiv{
      width: 100%;
    }
    .headerChildDiv .links{
      width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .headerChildDiv span{
      display: none;
    }

    .headerChildDiv .usimages{
      display: none;
    }
    
    .placeSearch{
      display: none;
  
    }
    .productSearch{
      display: none;
    } 

    .sellMenu{
      display: none;
    }
  }
  
  .language-list{
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
      padding: 12px 16px;
      z-index: 1;
      display: none;
      margin-top: 16em;
  }
  
  .arrow .language-list{
    display: block;
  }
  .language-list span{
    padding: 2em;
  }
  .language-list-item{
    display: flex;
    
    float: left;
  }
  .tick{
    margin-top: -3.5em;
    margin-left: 10em;
    float: right;
  }
  .Home{
    display: flex;
    align-items: center;
    padding-right: 10px;
    width: 30em;
  }
  .Home span{
    padding-left: 28px;
    font-size: 18px;
    font-weight: 450;
    
  }
  .Home a{
    text-decoration: none;
  }



  .dropdown {
    position: relative;
    display: inline-block;
    top:3em;
    right: 10.5em;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 180px;
    overflow: auto;
    margin-left: -.3vw;
    border-radius: 8px;
    /* border: 1px solid #ddd; */
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.user-icon{
  display: none;
}
.user-icon img{
  height: 3em;
  border-radius: 100%;
}
.hf{
font-weight: 500;
margin-top: .1em;
}

@media only screen and (max-width:700px) {
  .user-icon{
    display: block;
  }
  .user-icon img{
    height: 3em;
    border-radius: 100%;
    /* margin-top:4px; */
  }
  .hf{
    font-weight: 500;
    padding-top: .1em;
    }
}