.headerParentDiv {
    padding: 0.5px;
    position: fixed;
    width: 100vw;
    z-index: 1;
    padding-left: 8%;
    padding-right: 8%;
  }
  
  .headerChildDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .brandName{
    cursor: pointer;
  }
  
 
  .productSearch {
    width: 15em;
    height:50px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: transparent;
    outline-color: transparent;
    padding-bottom: 15px;
  }
  
  .productSearch .input {
    width: 100%;
    /* height: 100%; */
    display: flex;
    background-color: none;
    padding-bottom: 10px;
  }
  
  .productSearch .input input {
    border-color: transparent;
    outline-color: transparent;
    width: 100%;
    align-items: center;
  }
  
  .productSearch .searchAction {
    min-width: 39px;
    height: 45px;
    position: relative;
    display: flex;
    cursor: pointer;
    background-color: #58ff0b28;
    border-radius: 0 4px 4px 0;
  }
  
  .productSearch .searchAction svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgba(14, 2, 2, 0.918);
  }
  
  .language {
    height: 48px;
    display: flex;
    align-items: center;
    min-width: 7em;
  }
  
  .language span {
    font-size: 15px;
    white-space: normal;
    text-overflow: ellipsis;
    margin-right: 5px;
    cursor: pointer;
    
  }
  
  .arrow {
    height: 48px;
    display: flex;
    align-items: center;
    min-width: 7em;
  }
  
  .arrow span {
    font-size: 10px;
    white-space: normal;
    text-overflow: ellipsis;
    margin-right: 5px;
    cursor: pointer;
    
  }
  .language .arrow-svg{
    transition: .5s;
  }
  
  
  .arrow .arrow-svg{
    transform: rotate(180deg);
    transition: .5s;
  }
  
  .span {
    text-decoration: none;
    font-size: 16px;
    white-space: normal;
    text-overflow: ellipsis;
    margin-right: 5px;
  }
  
  .loginPage{
    position: relative;
    display: inline-block;
    padding-left:7px ;
    cursor: pointer;
  }
  
  .logout{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 20px ;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .loginPage:hover .logout {
    display: block;
  }
  .loginPage:hover hr{
    display: none;
  }
  .loginPage:hover {
    padding-bottom: 2px;
  }
  .loginPage hr {
    margin: 0;
    background-color: rgb(69, 226, 90);
    height: 2px;
    border-radius: 16px;
  }
  
  .loginPage a{
    text-decoration: none;
  }
  
  .sellMenu {
    margin-top: .4em;
    position: relative;
    cursor: pointer;
    /* box-shadow: 0px 0px 0px 3px rgba(238, 238, 238, 0.2),0px 0px 4px 0px rgba(0,0,0,0.19); */
    padding:0px;
    border-radius:38px; 
    background: rgba(180, 238, 166, 0.363);
     
  }
  
  .sellMenu .sellMenuContent {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: hsl(0, 0%, 0%);
    border-style: none;
    
  }
  
   .sellMenu .sellMenuContent svg {
    align-items: center;
    
  } 
  .sellMenu .sellMenuContent span {
    margin-top: -2px;
    
    
  }
  
  @media only screen and (max-width: 700px) {
    
    .placeSearch{
      display: none;
  
    }
    .productSearch{
      display: none;
    } 
  }
  
  .language-list{
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
      padding: 12px 16px;
      z-index: 1;
      display: none;
      margin-top: 16em;
  }
  
  .arrow .language-list{
    display: block;
  }
  .language-list span{
    padding: 2em;
  }
  .language-list-item{
    display: flex;
    
    float: left;
  }
  .tick{
    margin-top: -3.5em;
    margin-left: 10em;
    float: right;
  }
  .Home{
    display: flex;
    align-items: center;
    padding-right: 10px;
    width: 30em;
  }
  .Home span{
    padding-left: 28px;
    font-size: 18px;
    font-weight: 450;
    
  }
  .Home a{
    text-decoration: none;
  }



  .dropdown {
    position: relative;
    display: inline-block;
    top:3em;
    right: 10.5em;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 180px;
    overflow: auto;
    border-radius: 8px;
    /* border: 1px solid #ddd; */
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(0,0,0,.9);
  padding-right: 0vw;
  margin-right: 2vw;
  padding-top:11px;
}

.user-icon{
  display: none;
}
.user-icon img{
  height: 3em;
  border-radius: 100%;
}

.span-hover:hover{
  color: rgb(145, 0, 0);
}
.login-span:hover{
  color: rgb(167, 0, 0);
}
.nav-item .nav-link{
  margin-top:3px; 
}
.hf{
font-weight: 500;
margin-top: .1em;
}

@media only screen and (max-width:700px) {
  .user-icon{
    display: block;
  }
}