.headerParentDiv {
    padding: 10px;
    /* background: rgb(11,132,228);
    background: linear-gradient(142deg, rgba(11, 130, 228, 0.158) 0%, rgba(83, 11, 228, 0.13) 45%, rgba(39, 6, 224, 0.24) 100%); */

    position: fixed;
    width: 100vw;
    z-index: 999;
    padding-left: 8%;
    padding-right: 8%;
  }
  
  .headerChildDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .brandName{
    cursor: pointer;
  }
  
  /* .placeSearch {
    width: 16em;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    /* border: 2px solid #002f34; */
    /* border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.301);
  }
   */
  /* .placeSearch::selection {
    /* border-color: #23e5db;
    outline-color: #23e5db; */
    /* border-color: transparent;
    outline-color: transparent;
  } 
   */
  /* .placeSearch input {
    border-color: transparent;
    outline-color: transparent;
  } */
 
  .productSearch {
    width: 20em;
    height: 48px;
    /* border: 2px solid #002f34; */
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: transparent;
    outline-color: transparent;
  }
  
  .productSearch .input {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: none;
  }
  
  .productSearch .input input {
    border-color: transparent;
    outline-color: transparent;
    width: 100%;
    align-items: center;
  }
  
  .productSearch .searchAction {
    min-width: 39px;
    height: 48px;
    position: relative;
    display: flex;
    cursor: pointer;
    background-color: #58ff0b28;
    border-radius: 0 4px 4px 0;
  }
  
  .productSearch .searchAction svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgba(14, 2, 2, 0.918);
  }
  
  .language {
    height: 48px;
    display: flex;
    align-items: center;
    min-width: 7em;
  }
  
  .language span {
    /* justify-content: space-between;
    align-items: center; */
    font-size: 15px;
    white-space: normal;
    text-overflow: ellipsis;
    /* font-weight: bolder; */
    margin-right: 5px;
    cursor: pointer;
    
  }
  
  .arrow {
    height: 48px;
    display: flex;
    align-items: center;
    min-width: 7em;
  }
  
  .arrow span {
    /* justify-content: space-between;
    align-items: center; */
    font-size: 10px;
    white-space: normal;
    text-overflow: ellipsis;
    /* font-weight: bolder; */
    margin-right: 5px;
    cursor: pointer;
    
  }
  .language .arrow-svg{
    transition: .5s;
  }
  
  
  .arrow .arrow-svg{
    transform: rotate(180deg);
    transition: .5s;
  }
  
  .span {
    text-decoration: none;
    font-size: 16px;
    white-space: normal;
    text-overflow: ellipsis;
    /* font-weight: bolder; */
    margin-right: 5px;
  }
  
  .loginPage{
    position: relative;
    display: inline-block;
    padding-left:7px ;
    cursor: pointer;
  }
  
  .logout{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 20px ;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .loginPage:hover .logout {
    display: block;
  }
  .loginPage:hover hr{
    display: none;
  }
  .loginPage:hover {
    padding-bottom: 2px;
  }
  .loginPage hr {
    margin: 0;
    background-color: rgb(69, 226, 90);
    height: 2px;
    border-radius: 16px;
  }
  
  .loginPage a{
    text-decoration: none;
  }
  
  .sellMenu {
    position: relative;
    cursor: pointer;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 30%);
    padding:0px;
    border-radius:38px; 
    background: rgba(190, 213, 248, 0.986);
    /* background: linear-gradient(142deg, rgba(5, 255, 243, 0.048) 0%, rgba(7, 250, 68, 0.096) 45%, rgba(8, 202, 34, 0.158) 100%); */
     
  }
  
  .sellMenu .sellMenuContent {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: hsl(0, 0%, 0%);
    border-style: none;
    
  }
  
   .sellMenu .sellMenuContent svg {
    align-items: center;
    
  } 
  .sellMenu .sellMenuContent span {
    margin-top: -2px;
    
    
  }
  
  @media only screen and (max-width: 700px) {
    
    .placeSearch{
      display: none;
  
    }
    .productSearch{
      display: none;
    } 
    /* .sellMenu {
      display: none;
    } */
  }
  
  .language-list{
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
      padding: 12px 16px;
      z-index: 1;
      display: none;
      margin-top: 16em;
  }
  
  .arrow .language-list{
    display: block;
  }
  .language-list span{
    padding: 2em;
  }
  .language-list-item{
    display: flex;
    
    float: left;
  }
  .tick{
    margin-top: -3.5em;
    margin-left: 10em;
    float: right;
  }
  .Home{
    display: flex;
    align-items: center;
    padding-right: 10px;
    width: 30em;
  }
  .Home span{
    padding-left: 28px;
    /* width: 5em; */
    font-size: 18px;
    font-weight: 450;
    /* background-color: rgb(43, 156, 255); */
    
  }
  .Home a{
    text-decoration: none;
  }



  .dropdown {
    position: relative;
    display: inline-block;
    top:3em;
    right: 15em;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(0,0,0,.9);
  padding-right: 0vw;
  margin-right: 2vw;
}
@media only screen and (max-width: 1000px) {
  .navbar-collapse{
    background-color: white;
  }
  .show {
    margin-top: 3em;
    position: absolute;
  }
}
.span-hover:hover{
  color: rgb(0, 0, 0);
}
.login-span:hover{
  color: white;
}
